
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --background: #fff;
  --text: #000;
}

.dark {
  --background: #121212;
  --text: #fff;
}

.dark-button {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.dark-button:hover {
  transform: scale(1.2);
}

main {
  padding: 20px;
  text-align: center;
}


h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}


.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.axis line {
  stroke: #ddd;
}

.axis text {
  fill: #666;
  font-size: 0.875rem;
}

.tick line {
  stroke: #bbb;
}

.tick text {
  fill: #333;
}


@media (max-width: 768px) {
  main {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1rem;
  }

  .chart {
    width: 100%;
  }
}

